* {
  box-sizing: border-box;
}

@font-face {
  font-family: "TimesNewArial";
  src: url('./fonts/times-new-arial/TimesNewArial.ttf');
}

body {
  cursor:url("./images/cursor/0.png"),default;
  font-family: TimesNewArial;
  background: #AEAEAE;
}
#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
}
.header {
  text-align: left;
  /* text-transform: lowercase; */
  padding: 32px;
  /* background-color: #e3a7ff; */
  /* color: #fff; */
  /* border-bottom: 4px solid #fdb347; */
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 12px; */
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  top: 0px;
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  margin: 4%;
}

.inline-img {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
}
.nav {
  position: fixed;
  z-index: 1;
}
