<<<<<<< HEAD
body{
	cursor: url(https://cur.cursors-4u.net/food/foo-6/foo507.ani), url(https://cur.cursors-4u.net/food/foo-6/foo507.png), auto !important;
	}
=======
/* Reset and Fonts */
/* >>>>>>> 6a8b1904b06583b8fd485e9bd95166e702c7b0ef */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "TimesNewArial";
  src: url('./fonts/times-new-arial/TimesNewArial.ttf');
}

@font-face {
	font-family: "Consolas";
	src: url('./fonts/consolas/CONSOLA.TTF');
}

@font-face {
	font-family: "Pixel Sans";
	src: url('./fonts/Basiic-Style-Sans.ttf');
}

body {
  cursor: url("./images/cursor/0.png"), default;
  font-family: TimesNewArial, sans-serif;
/* >>>>>>> 6a8b1904b06583b8fd485e9bd95166e702c7b0ef */
  background: #AEAEAE;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
a:hover{
cursor: url("./images/cursor/ro-link-select-frame-0.png"), auto !important;
}

/* Video Background */
#videoDemaisParaContar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
	opacity: .6; /* Adjust background video brightness */
}

/* Header */
.header {
  text-align: left;
  padding: 32px;
	padding-left: 48px;
  font-size: 1.5em;
  z-index: 1;
  position: relative;
}

.subtitle {
  display: block;
	margin-top: 18px;
	margin-bottom: -6px;
}

.title {
}

/* Gallery */

.flex-element{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	width: 100%;
  /* margin: 20px auto; */
  /* padding: 20px 10px; */
  /* gap: 16px; /* Add consistent spacing between images */ */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px 10px;
  gap: 16px; /* Add consistent spacing between images */
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: 250px;
  object-fit: cover;
  margin: 4%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}

.gallery img:hover {
	filter: hue-rotate(90deg) contrast(200%);
/* filter: grayscale(30%); */
}

.inline-img {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
}
/* >>>>>>> 6a8b1904b06583b8fd485e9bd95166e702c7b0ef */

.p1 {
	text-align:justify;
	padding: 12px;
	font-family: Consolas, Times, serif;
	background-color: rgba(255, 255, 255, 0.85); /* White with 50% opacity */
	/* src: url('./fonts/times-new-arial/TimesNewArial.ttf'); */
}

.p1CV {
	text-align:justify;
	padding: 12px;
	font-family: Consolas, Times, serif;
	background-color: rgba(0,0,0, 0.8); /* White with 50% opacity */
	color: #AEAEAE;
	/* src: url('./fonts/times-new-arial/TimesNewArial.ttf'); */
}

.p1AW {
	text-align:justify;
	padding: 12px;
	font-family: Consolas, Times, serif;
	/* background-color: rgba(255, 255, 255, 0.85); /* White with 50% opacity */ */
	/* src: url('./fonts/times-new-arial/TimesNewArial.ttf'); */
}
.back-button {

}

#bio {
	margin:50px;
	margin-top:20px;
	margin-bottom:20px;
}

#contato {
	margin:50px;
	margin-top:20px;
	margin-bottom:20px;
}

.card-home {
  /* Add shadows to create the "card" effect */
	background-color: rgba(140,140,140,0.9);
	border-style: inset;
	border-color:#AEAEAE;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  /* Add shadows to create the "card" effect */

	background-color: rgba(140,140,140,0.9);
	border-style: inset;
	border-color:#AEAEAE;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-home {
	font-size:16px;
	padding: 2px 16px;
	padding-top:0px;

	text-shadow: 1px 0 #AEAEAE;
}
.container {
  padding: 2px 16px;
}
.container h4 {
	padding: 0px;
	margin-bottom: 4px;
	margin-top:10px
}
.container p {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 13px;
}
